{% set reviewCount = product.countReviewsForCountryCode(dediSag.countryCode) %}

{% if reviewCount > 0 %}
    <div class="ui centered grid">
        <div class="sixteen wide mobile ten wide computer column">
            <div class="ui placeholder segment">
                <div class="ui stackable grid bottom aligned">
                    <div class="three column row">
                        <div class="column center aligned">
                            <div class="ui list">
                                <div class="item">
                                    <img class="ui image" src="{{ asset('bundles/dedisyliussagplugin/img/logo_badge_'~dediSag.countryCode~'.png') }}" alt="{{ 'dedi_sylius_sag_plugin.ui.sag_logo'|trans }}"/>
                                </div>

                                {% if dediSag.certificateOfTruthUrl is not null %}
                                    <span class="item">
                                        <a href="{{ dediSag.certificateOfTruthUrl }}" class="ui button primary" target="_blank">
                                            {{ 'dedi_sylius_sag_plugin.ui.see_certificate'|trans }}
                                        </a>
                                    </span>
                                {% endif %}
                            </div>
                        </div>

                        <div class="column center aligned">
                            {{ include('@DediSyliusSAGPlugin/Shop/ProductReview/_barChart.svg.twig', {
                                title: 'dedi_sylius_sag_plugin.ui.bar_chart_title'|trans({
                                    '%product_name%': product.name,
                                }),
                                ratings: product.reviewRatingsRepartitionByCountryCode(dediSag.countryCode),
                            }) }}
                        </div>

                        <div class="column center aligned">
                            <span class="ui huge blue header">
                                {{ product.averageRatingByCountryCode(dediSag.countryCode, 10)|round(1) }} / 10

                                <div class="sub header">
                                    {{ 'dedi_sylius_sag_plugin.ui.based_on_x_reviews'|trans({}, null, null, reviewCount) }}
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
