<div class="ui grid">
    <div class="three column row">
        <div class="column">{{ form_row(form.idSite) }}</div>
        <div class="column">{{ form_row(form.countryCode) }}</div>
        <div class="column">{{ form_row(form.key) }}</div>
    </div>
</div>

<div class="ui grid">
    <div class="two column row">
        <div class="column">{{ form_row(form.locales) }}</div>
        <div class="column">{{ form_row(form.channels) }}</div>
    </div>
</div>
